body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #111;
}

/* Navbar styles */

.navbar {
  padding: 5px 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 10px;
  list-style: none;
}

.navbar ul a {
  color: gray;
}

.navbar ul span {
  background-color: #111;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
}

.navbar .active {
  color: #111;
}

.navbar .logo {
  font-weight: bold;
  font-size: larger;
}

/* Background circles styles */

.circle-right {
  position: fixed;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  top: -300px;
  right: -10px;
  z-index: -1;
  background-color: rgb(211, 233, 253);
}

.circle-left {
  position: fixed;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  top: 300px;
  left: -200px;
  z-index: -1;
  overflow: hidden;
  background-color: rgb(253, 239, 199);
}

@media screen and (max-width: 750px) {
  .circle-left {
    width: 300px;
    height: 300px;
    top: 400px;
    left: -50px;
  }

  .circle-right {
    width: 300px;
    height: 300px;
    top: -50px;
    right: -50px;
  }
}
